@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 style="color:red">Before opening other tabs modify connection string:</h1>
    <h3>1. Go to Sever Explorer in VS</h3>
    <h3>2. Right click on Module11OOP db and click on modify changes</h3>
    <h3>3. Click on advanced and copy the connection string below Data Source</h3>
    <br />
    <h4>|DataDirectory| didn't work out</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
